@font-face {
    font-family: 'Roboto Slab';
    src: url('./RobotoSlab-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
    color: white;
    margin: 0;
    font-family: RobotoSlab, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: black;
}

.d_flex {
    display: flex;
}

.d_flex_c {
    display: flex;
    align-items: center;
}

.d_flex_j_c {
    display: flex;
    justify-content: center;
}

.d_flex_column {
    display: flex;
    flex-direction: column;
}

.g_6 {
    gap: 6px;
}

.g_24 {
    gap: 24px;
}

.f_s_22 {
    font-size: 22px;
}

.bold {
    font-weight: bold;
    font-size: 18px;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

img {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
}


.coins-image:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.coin {
    background-color: rgba(255, 255, 255, 0.1);
    width: 450px;
    height: 79vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    border-radius: 24px;
    font-size: 18px;
}

#coin-container {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.coin-price {
    display: flex;
    justify-content: space-between;
    width: 430px;
}

.more-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    width: 700px;
}

.big-image {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 74px;    
}

.percent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

button {
    width: 35px;
    height: 35px;
    font-size: 23px;
    font-weight: bold;
    color: black;
    border-radius: 24px;
}

button:hover {
    cursor: pointer;;
}

.button-div {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-top: 16px;
    width: 38vw;
}

.header-image {
    width: 117px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0);
}

header, footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
}

.header-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.center {
    position: absolute;
    left: 46vw;
}

.active {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    padding: 3px 12px;
}

input {
    width: 150px;
    color: black;
    text-align: end;
    font-size: 22px;
}

.calculate-container {
    display: flex;
    gap: 12px;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 50vw;
}

.privacy {
    font-size: 18px;
    text-align: center;
}

footer > section > a > img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.menu-bar {
    font-weight: bold;
    gap: 12px;
}

.menu-bar > div {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    padding: 0 17px;
    font-size: 20px;
    align-items: center;
    display: flex;
}

.menu-bar > div:hover {
    cursor: pointer;
}

canvas {
    height: 170px;
    width: 300px;
}

.coin-search {
    border-radius: 24px;
    width: 225px;
    text-align: center;
}

@media (min-width: 800px) {
    #canvas {
        width: 425px !important;
        height: 165px !important;
    }

}

@media (max-width: 880px) {
    .more-information {
        width: 500px;
    }
}

@media (max-width: 800px) {
    .more-information {
        width: 400px;
    }

    .center {
        left: 40vw;
    }
}

@media (max-width: 600px) {
    * {
        font-size: 18px;
    }

    .more-information {
        width: 350px;
    }

    .center {
        left: 40vw;
    }

    .header-container {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    * {
        font-size: 13px;
    }

    .coin {
        width: 360px;
    }
   
    .coin-price {
        width: 345px;
    }

    .calculate-container {
        flex-direction: column;
        margin-right: -38px;
    }

    .mobile-hide {
        display: none;
    }

    .menu-bar > div {
        font-size: 16px;
        text-align: center;
    }
}

@media (max-width: 420px) {
    header {
        flex-direction: column;
        gap: 18px;
    }

    .header-container {
        flex-direction: row;
        justify-content: center;
    }

    .coin-price-container {
        justify-content: center;
    }

    .more-information {
        width: 300px;
    }

    .center {
        left: 28vw;
    }

    .bold {
        font-size: 16px;
    }

    .coin {
        width: 300px;
    }

    .coin-price {
        width: 290px;
    }

    #coin-container {
        align-items: center;
        padding: 0 8px;
    }

    .button-div {
        padding-top: 0px;
        width: 250px;
        justify-content: space-between
    }
}   